<!DOCTYPE html>
<html>
  <head>
    <title>Nutrition image detection</title>
  </head>
  <body>
    <form action="/nutrition_image_results" id="nutrition_input_form" method="GET">
      Input the urls of images to be analyzed, one on each line:
      <!-- <input type="text" name="image" size="50" height="50" value=""> -->
      <input type="submit" value="Classify">
    </form>
    
    <textarea form="nutrition_input_form" name="image" rows="25" cols="100">
http://i5.walmartimages.com/dfw/dce07b8c-3085/k2-_528d01b3-64f2-4061-9d30-8747645515ac.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-b39c/k2-_45cf9b4c-3aea-42a5-9530-6a3238cd66ed.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-4285/k2-_11ae5de2-6e79-4ced-b355-03c655a766f7.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-7536/k2-_cc86dcbd-9e57-47ad-9845-4195b910d24d.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-852c/k2-_d6df045b-e2e4-482a-9549-5a7f8852f77f.v2.jpg
http://i5.walmartimages.com/dfw/dce07b8c-308b/k2-_9e0b32fb-ca72-486b-86a6-8b5e725f46fa.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-4e8b/k2-_68f3c204-e061-4a5e-a5c6-24bc620cf6ee.v3.jpg
http://i5.walmartimages.com/dfw/dce07b8c-a773/k2-_2e0d3993-c0ca-4021-9c49-dbbbd69004c2.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-308b/k2-_9e0b32fb-ca72-486b-86a6-8b5e725f46fa.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-68d3/k2-_ab6a62e9-3097-45f2-9750-e6145c29d9e6.v2.jpg
http://i5.walmartimages.com/dfw/dce07b8c-68aa/k2-_905e5d42-e48d-44f3-8e85-f290d0c65ea4.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-2c43/k2-_dbb9bb5f-023c-420c-b1d5-c8c728575053.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-b696/k2-_b7202c8f-0c4a-42c8-a2b7-ff6b07a5bef3.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-b39c/k2-_45cf9b4c-3aea-42a5-9530-6a3238cd66ed.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-569b/k2-_0fbaf931-dfe1-4121-b2db-f564636d1689.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-a885/k2-_1f9f43a3-c05b-4235-ba7c-16f2b5824fca.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-4d98/k2-_eba6aa70-08fe-4582-ac7a-e981b6b7691d.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-d687/k2-_862e4ff0-69d8-41fc-896e-5fb1d4886efd.v2.jpg
http://i5.walmartimages.com/dfw/dce07b8c-308b/k2-_9e0b32fb-ca72-486b-86a6-8b5e725f46fa.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-4285/k2-_11ae5de2-6e79-4ced-b355-03c655a766f7.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-3085/k2-_528d01b3-64f2-4061-9d30-8747645515ac.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-ec7d/k2-_b1530b9f-5658-4684-97d8-aed8f80bb804.v1.jpg
http://i5.walmartimages.com/dfw/dce07b8c-7536/k2-_cc86dcbd-9e57-47ad-9845-4195b910d24d.v1.jpg
http://ecx.images-amazon.com/images/I/91issDCRkfL._SL1500_.jpg
http://ecx.images-amazon.com/images/I/61H5FyM21UL.jpg
http://ecx.images-amazon.com/images/I/91Det0miFQL._SL1500_.jpg
http://ecx.images-amazon.com/images/I/91b2JtsrMYL._SL1500_.jpg
http://ecx.images-amazon.com/images/I/81ikCuTaGeL._SL1500_.jpg
http://ecx.images-amazon.com/images/I/81okS6vP2TL._SL1500_.jpg
http://ecx.images-amazon.com/images/I/81IvypyzrWL._SL1500_.jpg
 </textarea>

  </body>
</html>
