body {
    font-family: Arial;
    font-size: 16px;
}
span.h1{
    font-size: 35px;
    font-weight: bold;
}
span.h2{
    font-size: 25px;
    font-weight: bold;
}
span.h3{
    font-size: 15px;
    font-weight: bold;
}
img.icon {
    width:20px;
    height:20px;
    margin-right:10px;
}
.report {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.recommendations {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}
.tableheader {
    background-color: #dddddd;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.report_td {
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;
}
.pdv_header {
    font-size: 30px;
    font-weight: bold;
}
.assess_comparisons{
    width:100%;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    border-collapse: collapse;
    border-spacing: 0;
}
.assess_comparisons td{
    border: 2px solid #000000;
    padding: 10px;
    margin: 0px;
}
img.img{
    max-width: 200px;
    max-height: 50px;
}
.assess_comparisons .red{
    background-color: #880000;
    color: #ffffff;
    font-weight: bold;
}
.assess_comparisons .group{
    background-color: #dddddd;
}
.assess_comparisons .row_name{
    text-align: left;
}
.assess_comparisons .key_row_name{
    font-weight: bold;
}
.row_first{
    width:20%;
}
.row_second{
    width:40%;
}
a.url{
    font-size: 6px;
}
.assess_absent{
    width:100%;
    text-align: left;
    font-family: Arial;
    font-size: 8px;
    border-collapse: collapse;
    border-spacing: 0;
}
.assess_absent_cell {
    border: 1px solid black;
    padding: 2px;
}