/* --- SEO PHRASES DEBUGGER (START) --- */
.debug_seo_ph {
	padding-left: 15px;
	padding-right: 15px;
}
.debug_seo_ph .edit_box {
	width: 100%;
	height: auto;
	min-height: 350px;
	resize: none;
}
.debug_seo_ph .dsp_submit_btn {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
.debug_seo_ph .seod_edit_box {
	border: solid 1px #333;
	height: auto;
	min-height: 350px;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}
/* --- SEO PHRASES DEBUGGER (END) --- */