@CHARSET "UTF-8";

::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code, .block {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

.block a {
	color: #002166;
}

.block60 {
	float: left;
	width: 60%;
}

.block20 {
	float: left;
	width: 20%;
}


#body, .block{
	margin: 0 15px 0 15px;
}

p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container{
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

html,body{padding:0;margin:0;font-family:Arial\ sans-serif;font-size:12px}
.wrapper{width:1000px;margin:0 auto;overflow:auto;padding:30px 30px 20px 40px;background-color:#badfff}
.navigation ul{margin:0;padding-left:4px}
.navigation ul li{list-style:none;float:left;margin-right:20px;border:1px solid;width:75px;text-align:center}
.navigation ul li a{text-decoration:none}
.system_nav{width:60%;float:left}.admin_nav{width:40%;float:left}
.admin_nav label{float:left;text-transform:uppercase;font-style:italic;margin-right:20px}
.search_part{margin-top:30px}
.search_field{width:85%;float:left}
.search_field input{width:95%;height:25px;margin-left:2px}
.search_but{border:1px solid;text-transform:uppercase;cursor:pointer}
.product_des{margin-top:15px}
.description{float:left}
.attribute_list{float:left;margin-left:10px}
.product_title{margin-top:25px}
.auto_title{width:92%}.auto_title input{width:99%;height:30px;margin-left:2px}
.title_length{width:92%;text-align:right}
.title_length label{font-style:italic}
.new_des textarea{border:2px solid}
label.label1{margin-right:10px}
.title_length input{margin-right:5px;width:40px}
.bottom_nav{margin-top:20px}
.sequence{width:55%;float:left}
.applying{float:left;width:36%;text-align:right;margin-left:5px}
.bottom_nav button{float:left;border:1px solid;text-transform:uppercase;margin:0;margin-right:15px;cursor:pointer}
.bottom_nav label{font-style:italic}
button.save{margin-right:20px}
label.label2{margin-right:10px}
.bottom_nav input{margin:0;width:40px}
.bottom_nav ul{margin:0}
.bottom_nav ul li{list-style:none;float:left;border:1px solid;margin-right:10px;width:15px;text-align:center}
.bottom_nav ul li a{text-decoration:none}
.clear{clear:both}

#items_list {
	list-style-type: none;
    margin-left: -30px;
}


