/* 
    Document   : home-page
    Created on : Jul 8, 2013, 4:21:54 PM
    Author     : bokac
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.logo-bg {
    background: url('../img/headerLogoBG.png') repeat-x left top;
}

.solution-logo {
    background: url('../img/content-analytics.png') repeat-x left top;
    width: 194px;
    height: 62px;
    margin-top: 33px;
    margin-left: 38px;
}

.solution-logo-page {
    background: url('../img/contentanalytics-home-logo.jpg') left top;
    width: 315px;
    height: 79px;
    margin-top: 5px;
    margin-left: 38px;
}

.solution-login{
    background: url('../img/logo-back.jpg');
    width: 239px;
    height: 89px;
    margin-top: 70px;
    margin-left: 100px;
}

ul.menu {
    margin: 0px;
    padding: 0px;
}

ul.menu li{
    display: inline-block;
    height: 86px;
    text-align: center;
    float: left ;
    background: url("../img/border_back.jpg") center right no-repeat;
}

ul.menu li:last-child{
    background: none;
}

ul.menu li a{
    color:#686868;
    text-align: center;
    margin-top:30px;
    display: inherit;
    font-size: 12px;
    padding: 0 12px;
    font-family: 'Open Sans', arial, serif;
    font-weight: bold;
    text-transform: uppercase;
}

ul.menu li.active{
    background:#E1472F;
}

ul.menu li.item_active, ul.menu li.item_active ul.sub_menu li.inner_active{
    background:#E1472F;
    text-decoration: none;
}

ul.menu li.active a, ul.menu li.item_active a{
    margin-left: 12px;
    margin-right: 12px;
    padding: 0;
}

ul.menu li:first-child a{
    margin-top:22px;
}

ul.menu li.active a span, ul.menu li.item_active a span, ul.menu li.item_active ul.sub_menu li.inner_active a span{
    border-bottom: 1px dotted #FFFFFF;
    padding-bottom: 2px;
}

ul.menu li.active a:hover,ul.menu li.item_active ul.sub_menu li.inner_active a:hover, ul.menu li.active a, ul.menu li.item_active a, ul.menu li.item_active ul.sub_menu li.inner_active a{
    color: #fff;
    text-decoration: none;
}

ul.menu li ul.sub_menu{
    display: none;
    background-color: #fff;
    z-index: 9999;
    position: relative;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    margin-top: 35px;
}
ul.menu li ul.sub_menu li:first-child{
    height: 40px;
}

ul.menu li ul.sub_menu li:first-child a{
    padding-top: 10px;
    display: block;
}

ul.menu li ul.sub_menu li{
    display: block;
    float: none;
    overflow: visible;
    z-index: 9999;
    position: relative;
    border: none;
    background: #fff;
    height: 40px;
    text-transform: uppercase;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}

ul.menu li ul.sub_menu li a{
    color:#686868;
    text-align: center;
    padding-top:10px;
    display: inherit;
    font-size: 12px;
    font-family: 'Open Sans', arial, serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
}

.below-nav {
    background:url('../img/line.jpg') repeat-x left top;
    height: 322px;
    padding-top: 77px;
}

.below-nav-back{
    background:url('../img/line.jpg') repeat-x left top;
    height: 246px;
}

.left_block{
    width: 375px;
    padding: 30px 0px 0px 35px;
}

.txt_container{
    color:#fff;
    font-size: 32px;
    font-family: 'Open Sans', arial, serif;
}
.txt_or_container{
    color: #DF472F;
    font-weight: bold;
    font-family: 'Open Sans', arial, serif;
}
.left_block p{
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    font-family: 'Open Sans', arial, serif;
}
.left_block a{
    background: #e1472f;
    width: 130px;
    height: 22px;
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 5px 7px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.right_block{
    background: url("../img/right_back.jpg") repeat-x scroll left top;
    height: 398px;
    left: 584px;
    position: absolute;
    top: 86px;
    width: auto;
    right: 0;
}

.content-container{
    background: url("../img/post_back.jpg") repeat-x scroll left top;
    width: 100%;
    height: 290px;
    height: auto;
}

.content-container .row-fluid{
    padding-left: 30px;
    padding-top: 45px;
}

.content-container .row-fluid a.learn_more{
    background: #EBEBEB;
    padding: 6px 10px;
    color: #E1472F;
    font-size: 12px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-top: 5px;
    display: inline-block;
}

.header_container .solution-logo, .header_container .solution-logo-page {
    margin-top: 0px;
}
.navigation {
    height: 44px;
    background: url('../img/top-bar.png') repeat-x left top;
}
ul.top-navigation {
    list-style-type: none;
}

ul.top-navigation li {
    line-height: 43px;
    display: inline-block;
    padding: 0 20px;
    margin: 0 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

ul.top-navigation li:last-child {
    background-color: #ff9800;
    margin-right: 0;
    border: 1px solid;
    border-bottom-color: #4b2303;
    border-right-color: #4b2303;
    border-left-color: #ffb43d;
    border-top-color: #ffb43d;
}

ul.top-navigation li:last-child a {
    color: #000;
}

ul.top-navigation li a {
    color: #fff;
    text-decoration: none;
}

.full-width {
    margin: 0;
    width: 100%; 
}

.bottom-border {
    height: 8px;
    background: url('../img/bottom-border.png') repeat-x left top;
    margin-bottom: 10px;
}

.right-bg {
    background-color: #848484;
}

.chart-img {
    height: 380px;
    background: url('../img/hands.png') no-repeat left top;
}

.text-color-white {
    line-height: 37px;
    text-shadow: 1px 1px 1px #131212;
    filter: dropshadow(color=#131212, offx=1, offy=1);
    font-size: 2.1em;
    color: #ededed;
    margin-top: 40%;
    margin-bottom: 10px;
}

.margin-top-50 {
    margin-top: 50px;
}

.posts img{
    float: left;
    margin-right: 10px;
}

.mid-title, .mid-title a{
    margin-bottom: 20px;
    color: #E1472F;
    font-size: 28px;
    letter-spacing: -0.5px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

.mid-title span{
    font-size: 16px;
    display: block;
    margin-top: 10px;
}


.general_posts .mid-title{
    border-bottom: 1px solid #EDEDED;
    height: 30px;
}

.general_posts .sub-title{
    color: #E1472F;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.general_posts i{
    color: #9c9c9c;
    font-size: 12px;
}

.general_clients{
    padding: 0;
}

.general_clients a{
    padding: 0px 5px;
}

.general_clients a:first-child{
    padding-left: 0px!important;
}

.ideas-title {
    height: 80px;
    color: #e30200;
    font-size: 1.7em;
    font-weight: 200;
}

.border-box {
    padding: 22px;
    padding-bottom: 50px;
    border: 1px solid #f0f0f0;
    position: relative;
}

.learn-more-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.footer_block{
    padding-left: 75px;
    background: #363636;
    height: 150px;
    color: #fff;
}

.footer_block span{
    margin-top: 20px;
    display: block;
    font-size: 16px;
}

.home-footer {
    line-height: 45px;
    height: 44px;
    background: #252525;
}

.home-footer div{
    padding-left: 15px;
    color: #747474;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.box-shadow-img {
    position: absolute;
    bottom: -13px;
    right: 0;
    width: 100%;
    height: 12px;
    background: url('../img/bottom-shadow.png') repeat-x left top;
}
