body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    padding: 4px;
}

#ajaxLoadAni {
    background: #3A3A3A;
    color: #fff;
    display: none;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 40%;
    padding: 8px;
    width: 106px;
    z-index: 9999;
}

#ajaxLoadAni span {
    float: right;
    margin: 2px 0 0 0;
}

#tabs {
    font-size: .9em;
    margin: 0 auto;
    width:99%;
}

.ui-widget-content {
    font-size: .8em;
}

#records {
    font-size: 1em;
    width: 100%;
}

#records .even {
    background: #EAEAEA;
}

#records tr:hover {
    background: #CCCCCC;
}

#records td {
    padding: 6px;
    margin: 8px;
}

#delConfDialog, #msgDialog, #updateDialog {
    font-size: 1em;
}

#updateDialog label {
    display: inline-block;
    text-align: right;
    width: 150px;
}

#updateDialog p {
    margin:0px;
}
#create label {
    display: inline-block;
    text-align: right;
    width: 60px;
}
#updateDialog input, #updateDialog textarea, #updateDialog .uneditable-input {
    width: 380px;
}
#updateDialog textarea {
    height: 80px;
}
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate:hover,
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate:active,
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate.active,
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate.disabled,
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate[disabled] {
    color: #FFFFFF;
    background-color: #51a351;
    background-position: 0 -13px;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

/* Validation label */
#create label.error {
    color: red;
    font-size: .9em;
    padding: 4px;
    margin: 0 0 0 4px;
    width: auto;
}

/* DataTables specific styles */
.fg-toolbar {
    padding: 6px;
}
.dataTables_length, .dataTables_info {
    float: left;
    margin: 3px 0 0;
}
.dataTables_filter, .dataTables_paginate {
    float: right;
}
.DataTables_sort_wrapper {
    cursor: pointer;
    padding: 4px;
    position: relative;
}
.DataTables_sort_wrapper .css_right {
    position: absolute;
    right: 0;
    top: 4px;
}

#records th {
    font-weight: bold;
}

.reviewed {
    background-color: #d0e9c6;
}

#updateDialog textarea{
    line-height: 14px;
}
#choiceColumnDialog label {
    display: inline;
    font-size: 1em;
}
#research_assess_choiceColumnDialog label {
    display: inline;
    font-size: 1em;
}
.ui-dialog .ui-dialog-buttonpane button.popupGreen {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.ui-dialog .ui-dialog-buttonpane button.popupGreen:hover,
.ui-dialog .ui-dialog-buttonpane button.popupGreen:active,
.ui-dialog .ui-dialog-buttonpane button.popupGreen.active,
.ui-dialog .ui-dialog-buttonpane button.popupGreen.disabled,
.ui-dialog .ui-dialog-buttonpane button.popupGreen[disabled] {
    color: #FFFFFF;
    background-color: #51a351;
    background-position: 0 -13px;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.block_data_table .ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 0;
    padding: 0 4px;
}

.assess_filter_options{
    font-size: 11px;
}

.assess_filter_options label{
    font-size: 11px;
}

label.checkbox {
    margin-top: 15px !important;
}

.assess_filter_options input[type=checkbox] {
    margin-top: 0px !important;
}

.assess_filter_options input[type=text] {
    margin-top: 10px;
    width: 50px;
}