/* Basic style */

.text-center{
	text-align:center;
}

.word_wrap_li {
	display: block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btag_elipsis {
	display: block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

.btag_elipsis.an_search {
	width: 510px;
}

.long_desc_sep {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

/* Keywords Metrics (analysis) (start) */
.products_an_search {
	height: 170px; 
	overflow: auto;
}
.products_an_search li span {
	display: inline-block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 45%;
}
.keywords_metrics_bl span {

}
.keywords_metrics_bl textarea {
	width: 100%;
	resize: none;
}
.analysis_content_head {
	font-size: 13px;
	font-weight: bold;
}
.word_wrap_li_pr {
	display: inline-block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 303px;
    font-size: 12px;
    line-height: 12px;
}
.word_wrap_li_sec {
	float: right;
	display: inline-block;
	font-size: 12px;
	/*line-height: 12px;*/
}
.word_wrap_li_pr.hover_en {
	text-decoration: underline;
	cursor: pointer;
}
.word_wrap_li_pr.hover_en:hover {
	text-decoration: none;
}
.bold_li {
	font-weight: bold;
}
.normal_font_w {
	font-weight: normal;
}
li[data-status='words_an'] {
	display: none;
}
*[data-status='seo_an'] {
	display: none;
}
.less_b_margin {
	margin-bottom: 0px;
}
.li_top_margin {
	margin-top: 5px;
}
span[class*="hilite"] { background: yellow; }
.keywords_metrics_tbl {
	width: 100%;
}
.keywords_metrics_tbl tr td {
	vertical-align: center;
	padding-bottom: 10px;
}
.keywords_metrics_tbl tr td input {
	margin-bottom: 0px;
}
.keywords_metrics_tbl tr td span {
	font-size: 14px;
}
.keywords_metrics_bl_res_tbl {
	width: 100%;
}
.keywords_metrics_bl_res_tbl tr td {
	vertical-align: top;
}
.keywords_metrics_bl_res_tbl tr td span {
	font-size: 14px;
}
.keywords_metrics_bl_res {
	display: none;
}
/* Keywords Metrics (analysis) (end) */

/* Competitive Intelligence (standart view) (start) */
.cats_an_select {
	float: left;
	display: block;
	width: 140px;
}
#measure_dropdown {
	margin-right: 10px !important;
}
#compare_text {
	width: 550px;
}
.an_sv_left {
	width: 550px !important;
}
.an_sv_right {
	width: 333px !important;
	margin-left: 5px;
	margin-top: -45px;
}
/* Competitive Intelligence (standart view) (end) */

/* Login container style */

body{
	background:#FBFBFB;
	font-family:Arial;
}

.login_container{
	width:100%;
	float:left;
	border:1px solid #DDDDDD;
	-webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
	      border-radius: 6px;
	margin-top:40%;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background:#ffffff;
}

.login_header{
	float:left;
	width:100%;
	border-bottom:1px solid #DDDDDD;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-border-radius: 6px 6px 0 0;
	 -moz-border-radius: 6px 6px 0 0;
	      border-radius: 6px 6px 0 0;
}

	.login_header h3{
		color:#ffffff;
		margin:5px 0;
	}

.login_content{
	width:100%;
	float:left;
	padding:20px 0 0 0;
}

.login_btn{
	margin-left:30px;
}

/* Header Container Style */

.header_container{
	background:#c31233;
	-webkit-border-radius: 0 0 10px 10px;
	 -moz-border-radius: 0 0 10px 10px;
	      border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	float:left;
	width:100%;
	padding:10px 0;
}

.logo_title{
	color:#ffffff;
	margin:5px 20px;
	font-size:23px;
	line-height:25px;
	float:left;
}

	.logo_title:hover{
		color:#ffffff;
		text-decoration:none;
	}

.log_out{
	color:#ffffff;
	margin-right:20px;
	margin-top:7px;
	float:right;
}

	.log_out:hover{
		color:#ffffff;
		text-decoration:none;
	}

/* Main Container Style */

.main_container{
	width:100%;
	float:left;
	margin:40px 0 20px 0;
}

.left_nav_content{
	list-style:none;
	float:left;
	margin:0 0 0 10px;
	padding:0;
}

	.right_nav_content li,
	.left_nav_content li{
		float:left;
		margin:0 5px;
		background:#ffffff;
		-webkit-border-radius: 5px 5px 0 0;
		 -moz-border-radius: 5px 5px 0 0;
		      border-radius: 5px 5px 0 0;
		-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
		 -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
		      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
	}

	.right_nav_content li.active,
	.right_nav_content li:hover,
	.left_nav_content li.active,
	.left_nav_content li:hover{
		background:#c31233;
	}

		.right_nav_content li a,
		.left_nav_content li a{
			padding:10px;
			float:left;
			color:#c31233;
		}

		.right_nav_content li.active a,
		.right_nav_content li:hover a,
		.left_nav_content li.active a,
		.left_nav_content li:hover a{
			color:#ffffff;
			text-decoration:none;
		}

.right_nav_content{
	list-style:none;
	float:right;
	margin:0 10px 0 0;
	padding:0;
}

.main_content{
	float:left;
	width:96%;
	background:#ffffff;
	-webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
	      border-radius: 6px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	padding:2%;
}

.search_area{
	height:150px;
}

.chars_content{
	float:right;
	width:200px;
}

	.chars_content label{
		float:right;
		margin:5px 10px 0 0;
	}

	.chars_content input{
		float:right !important;
		text-align:center;
	}

.pagination{
	margin:0 0 0 10px !important;
	float:left;
}

.new_btn{
	float:left;
	height:30px;
}

/* Customer Container Style */

#product_description .control-group label,
#account_configure .control-group label,
#customer_settings_save .control-group label {
	text-align:left !important;
}

.title_max{
	line-height: 27px;
    margin-bottom: 0;
    margin-left: 20px;
	float:left;
}

#product_description, #customer_settings_save{
	float:left;
	width:100%;
}

.product_title_content{
	border:1px solid #CCCCCC !important;
	list-style:none;
	margin:0;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
	width:100%;
}

	.product_title_content li{
		float:left;
		margin-right:5px;
		cursor:pointer;
		border:1px solid #CCCCCC;
		-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		      border-radius: 4px;
		background:#FBFBFB;
	}

		.product_title_content li span{
			float:left;
			margin:5px;
			cursor:move;
		}

		.product_title_content li a{
			float:right;
			margin:5px 5px 5px 0;
		}

#trash{
	float:right;
	width:96%;
	height:150px;
	border:1px solid #cccccc;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
	margin-top:60px;
	padding:2%;
}

.admin_system_content {
	float:left;
	width:100%;
}

.admin_system_content.extra_up {
	margin-top: -32px;
}

	.admin_system_content p{
		float:left;
		width:150px;
		margin-top:5px;
	}

	.admin_system_content input{
		margin-left:0px;
		width:250px;
		margin-bottom:20px;
	}

	.admin_system_content textarea{
		margin:0;
		width:240px;
		height:100px;
		float:left;
	}

	.admin_system_content textarea.tag_rules_settings {
		width: 250px;
	}

.admin_tageditor_content{
    float:left;
    width:100%;
}


    .admin_tageditor_content p{
        float:left;
        margin-top:5px;
    }

    .admin_tageditor_content input{
        margin-left:0px;
        width:100%;
    }

    .admin_tageditor_content textarea{
        margin:0;
        width:240px;
        height:200px;
        float:left;
    }

    .admin_tageditor_content textarea.smaller{
        height:120px;
    }

.gallery{
	list-style:none;
	margin:0;
	position:relative;
	height:44px;
}

	.gallery li{
		float:left;
		margin:5px;
		cursor:pointer;
		border:1px solid #CCCCCC;
		-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		      border-radius: 4px;
		background:#FBFBFB;
	}

		.gallery li span{
			float:left;
			margin:5px;
			cursor:move;
			padding-right:10px;
		}

		.gallery li a{
			float:right;
			margin:5px 5px 5px -10px;
			position:absolute;
		}

.desc{
    list-style:none;
    margin:0;
    position:relative;
    overflow: auto;
    line-height: 40px;
    width: 878px !important;
    min-height: 20px;
    padding: 7px;
}

.desc li{
    display: inline;
    cursor:pointer;
    border:1px solid #CCCCCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background:#FBFBFB;
    padding: 5px;
    line-height: 32px;
}

.desc li span{
    height: 26px;
    padding: 0 5px;
    cursor:move;
    position: relative;
}

.desc li div.change_text{
    float:none;
    margin:0px;
    cursor:move;
    padding-right: 0px;
    color:green;
    display: inline;
}

.desc li a{
    padding: 0 5px;
}

/* Margin Style  */

.ml_120{
	margin-left:120px;
}

.ml_30{
	margin-left:30px;
}

.mb_40{
	margin-bottom:40px;
}

.mb_20{
    margin-bottom:20px;
}

.ml_10{
    margin-left:10px;
}

.ml_20{
	margin-left:20px;
}

.mt_40{
	margin-top: 35px !important;
}

.ml_50{
	margin-left:50px;
}

.mt_220{
	margin-top:220px !important;
}

.mt_30{
	margin-top:30px;
}

.mt_10{
	margin-top:10px !important;
}

/* new styles */

html.busy, html.busy * {
  cursor: wait !important;
}

#items.uneditable-input {
	white-space: normal;
}

#items_list li, #tageditor_description ul li{
	padding-bottom: 8px;
    margin-left: -20px;
}

#attributes_metrics ul li, #attributes ul li  {
	margin-left: -20px;
}


ul#items_list, #tageditor_description ul, #attributes ul, #attributes_metrics ul {
	list-style-type: none;
}

.ml_40{
	margin-left:40px;
}

.new_btn_fr{
	float:right;
	height:30px;
}

.ml_15{
	margin-left: 15px;
}

.ml_0 {
	margin-left: 0px !important;
}

div.uneditable-input {
	color: #555; background-color:white; white-space: normal; overflow: auto;
}

div.editable-input {
    color: #555; background-color:white; white-space: normal; overflow: auto;
}
a.current_page {
        font-weight: bold;
}

a.gray_out {
        color:#DDDDDD;
}

#tageditor_content #items_list li span {
    width: 100%;
    display: block;
}

#tageditor_content .uneditable-input, #tageditor_content .uneditable-textarea, #tageditor_content #items_list li,
#tageditor_description ul li{
    cursor: pointer;
}

#tageditor_content #items_list li, #tageditor_description ul li{
    margin-bottom: 8px;
    padding-bottom: 0px;
}

.highlight {
    background: #CAEAFF;
}

.desc_title {
    border: 1px solid #CCCCCC !important;
    border-radius: 4px 4px 4px 4px;
    width: 100%;
}

.matches_message {
    clear: both;
    display: block;
    height: 35px;
    padding-top: 7px;
}

#textarea #desc li input {
    margin-bottom: 0px;
    padding-right: 10px;
    width: 100%;
}

.cursor_default{
	cursor: default;
}

#popup{
    display: none;
}

.dd-container, .dd-container .dd-select, ul.dd-options {
    /*width: 200px!important;*/
    float:left;
    margin-right: 20px;
}

.dd-option-image, .dd-selected-image {
    max-width: 100px!important;
    height: 28px;
}

a.dd-selected, a.dd-option{
    padding: 0px!important;
}


.item_section {
    height:700px;
    display:block;
    overflow : hidden;
    border: none;
}

.item_title {
    background: #F5F5F5;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#666666;
    padding-left: 10px;
    padding-top: 3px;
    height: 20px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
}

.item_section_content {
    color: #666666;
    font-size: 12px;
    margin: 15px 10px 20px;
}

p.show_ballons input{
    margin-top: -1px;
}

#measureForm{
    margin-top: 20px;
}

#research_text{
    margin-right: 16px;
}

.research h3{
    font-size: 20px;
    background: #ccc;
    margin: 0px;
    padding-left: 10px;
}

#research {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    background: #fff;
    z-index: ;0000;
}

#research_edit {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:  440px;
    margin: 5px;
    background: #fff;
}

.research_content {
    padding: 10px;
}
.research .boxes{
    border: 1px solid #CCCCCC;
    min-height: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}
#research_edit h3, #research h3{
    font-size: 16px;
}
.research .boxes h3 {
    font-size: 14px!important;
    cursor: pointer;
}

.research .boxes p{
    margin-left: 10px;
    clear:both;
}

.research .boxes p button{
    margin-top: -5px;
    margin-bottom: 10px;
}

#page_elements input{
    margin-bottom: 0px;
    width:380px;
}
#page_elements input:last-child{
    margin-bottom: 10px;
}

#page_elements button{
    margin-right:7px;
}

.connectedSortable {
    margin:0px;
}

.connectedSortable li {
    list-style: none;
}

.boxes_content{
    padding: 10px;
    overflow: hidden;
}

.boxes_content .row-fluid label{
    margin-left: 10px;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}

#compare_text{
    margin-right: 15px;

}

#keywords span{
    display: block;
    float: left;
    padding-top: 5px;
    width: 80px;
}
.chzn-container-multi .chzn-choices{
	min-height: 28px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}

.chzn-container-multi  .chzn-choices .search-field input{
	min-height: 28px;
	font-size: 14px !important;
}

.chzn-container-single .chzn-single{
	font-size: 14px;
	background: none;
	min-height: 28px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	line-height: 28px;
	color: #555555;
}

.chzn-container-multi .chzn-choices .search-choice{
	background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    height: 18px;
	line-height: 18px;
}

.chzn-container-multi .chzn-choices .search-choice a{
	margin-top: 2px;
}

#system_save_new_user .admin_system_content{
	margin-left: 2.12766%;
}

.tab-content{
	overflow: hidden;
}

#products, .product_title{
    margin:0px;
    padding: 0px;
    font-size: 12px;
}

#products li, .product_title li, #related_keywords li{
    border-top: 1px solid #ccc;
    border-bottom: none ;
}
#related_keywords li{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#products li:last-child, #related_keywords li:last-child{
    border-bottom: 1px solid #ccc;
}

#products li span:first-child, .product_title li span:first-child{
    border-right: 1px solid #ccc;
}

#products li span, .product_title li span{
    display: inline-block;
    padding: 1px;
    width: 45%;
    vertical-align: top;
    word-wrap: break-word;
}

#related_keywords li span{
    display: inline-block;
    padding: 5px;
}

.research a.clear_all{
    margin-left: 10px;
}

#related_keywords{
    margin:0px;
    font-size: 12px;
}

#related_keywords li:hover{
    cursor:pointer;
}

label.dd-selected-text, label.dd-option-text{
    margin:4px;
}

#product_descriptions{
    display: none;
}
#rel_keywords{
    display: none;
    margin: 0px;
}
.boxes_content textarea{
    width:380px!important;
}

.span2.input_fln {
	float: none;
	margin-left: 0px;
}

.left_pos{
    left:0!important;
}
