body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    padding: 4px;
}

#ajaxLoadAni {
    background: #3A3A3A;
    color: #fff;
    display: none;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 40%;
    padding: 8px;
    width: 106px;
    z-index: 9999;
}

#ajaxLoadAni span {
    float: right;
    margin: 2px 0 0 0;
}

#tabs {
    font-size: .9em;
    margin: 0 auto;
    width:99%;
}

.ui-widget-content {
    font-size: .8em;	
}

.ui-selectee, .non-selectable {
	font-size: 1em;	
}

.non-selectable, .ui-selectee:not(.batch1_filter_item):not(.batch2_filter_item):not(.dual_batch1_filter_item):not(.dual_batch2_filter_item){
	clear: both;	
}

.batch1_filter_item {
	width: 484px;
	float: left;
}

.batch2_filter_item {
	width: 484px;
	float: right;
}

.batch1_filter_item, .batch2_filter_item, .dual_batch1_filter_item, .dual_batch2_filter_item{
	margin: 0 0 10px 15px;
}

#records,#recordSec,#tblReview {
    font-size: 1em;
    width: 100%;
}

#records .even ,#recordSec .even, #tblReview .even {
    background: #EAEAEA;
}

#records tr:hover  ,#recordSec tr:hover, #tblReview tr:hover{
    background: #CCCCCC;
}

#records td ,#recordSec td, #tblReview td{
    padding: 6px;
    margin: 8px;
}

.tblDataTable {
    font-size: 1em;
    /* width: 900px !important; */
	width: 100%;
}

.tblDataTable .even {
    background: #EAEAEA;
}

.tblDataTable tr:hover {
    background: #CCCCCC;
}

.tblDataTable td {
    padding: 6px;
    margin: 8px;
}

#delConfDialog, #msgDialog, #updateDialog {
    font-size: 1em;
}

#updateDialog label{
    display: inline-block;
    text-align: right;
    width: 150px;
}
#updateDialog .parag span.labeler {
    position: relative;
    top: -31px;
}

#updateDialog .parag div.bottom-labeler {
    position: relative;
    top: -65px;
    width:50px;
}

#updateDialog .parag div.bottom-labeler label {
    font-size: 12px;
}

#updateDialog p {
    margin:0px;
}
#create label {
    display: inline-block;
    text-align: right;
    width: 60px;
}
#updateDialog input, #updateDialog textarea, #updateDialog .uneditable-input {
    width: 380px;
}
#updateDialog textarea {
    height: 80px;
}
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate:hover,
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate:active,
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate.active,
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate.disabled,
.ui-dialog .ui-dialog-buttonpane button.researchReviewUpdate[disabled] {
    color: #FFFFFF;
    background-color: #51a351;
    background-position: 0 -13px;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.ui-dialog .ui-dialog-buttonpane .reject {
   position: relative;
    top: -24px;
    left: -38px;
    height: 20px;
    width: 20px;
}
.ui-dialog .ui-dialog-buttonpane .reject input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: 32px;
    *overflow: hidden;
}

.ui-dialog .ui-dialog-buttonpane .reject label {
    font-size: 10px;
    display: block;
    text-indent: -18px;
}

/* Validation label */
#create label.error {
    color: red;
    font-size: .9em;
    padding: 4px;
    margin: 0 0 0 4px;
    width: auto;
}

/* DataTables specific styles */
.fg-toolbar {
    padding: 6px;
}
.prev_page,.next_page{
    cursor: wait !important;
}
.dataTables_length, .dataTables_info {
    float: left;
    margin: 3px 0 0;
}
.dataTables_filter, .dataTables_paginate {
    float: right;
    width:325px;
    
}
.dataTables_filter{
    width: 200px;
}
#tblAssess_length{
    position: relative;
    left: 575px;
    top: 5px;
}
#tblAssess_filter label{
    float: left;
    margin-top: 5px;
}
#tblAssess img{
    max-width: 73px;
}
.DataTables_sort_wrapper {
    cursor: pointer;
    padding: 4px;
    position: relative;
}
.DataTables_sort_wrapper .css_right {
    position: absolute;
    right: 0;
    top: 4px;
}

#records th, #recordSec th {
    font-weight: bold;
}

#records .row_selected, #recordSec  .row_selected {
    background-color: #9FAFD1;
}

#records .reviewed, #recordSec .reviewed {
    background-color: #d0e9c6;
}

.tblDataTable th {
    font-weight: bold;
}

.tblDataTable .row_selected {
    background-color: #9FAFD1;
}

.tblDataTable .reviewed {
    background-color: #d0e9c6;
}

#updateDialog textarea{
    line-height: 14px;
}
#choiceColumnDialog label {
    display: inline;
    font-size: 1em;
}
#research_assess_choiceColumnDialog label, #add_department_dialog label, #add_category_dialog label {
    display: inline;
    font-size: 1em;
}
#add_department_dialog input, #add_category_dialog input,
#add_department_dialog textarea, #add_category_dialog textarea{
    width: 100%;
}
.ui-widget-overlay{
    background-color: ffffff !important;
    background: #ffffff !important;
    
}
.ui-dialog .ui-dialog-buttonpane button.popupGreen {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.ui-dialog .ui-dialog-buttonpane button.popupGreen:hover,
.ui-dialog .ui-dialog-buttonpane button.popupGreen:active,
.ui-dialog .ui-dialog-buttonpane button.popupGreen.active,
.ui-dialog .ui-dialog-buttonpane button.popupGreen.disabled,
.ui-dialog .ui-dialog-buttonpane button.popupGreen[disabled] {
    color: #FFFFFF;
    background-color: #51a351;
    background-position: 0 -13px;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.block_data_table .ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 0;
    padding: 0 4px;
}

.assess_filter_options{
    font-size: 11px;
}

.assess_filter_options label{
    font-size: 11px;
}

label.checkbox {
    margin-top: 15px !important;
}

.assess_filter_options input[type=checkbox] {
    margin-top: 0px !important;
}

.assess_filter_options input[type=text] {
    margin-top: 10px;
    width: 50px;
}

#assessDetailsDialog label{
    display: inline-block;
    text-align: right;
    width: 105px;
}
#assessDetailsDialog .parag {
    position:relative;
}
#assessDetailsDialog .parag span.labeler {
    position: relative;
    top: -10px;
}
#assessDetailsDialog .parag div.bottom-labeler {
    left: 0;
    position: absolute;
    top: 40px
}
#assessDetailsDialog .parag div.bottom-labeler label {
    font-size: 12px;
}
#assessDetailsDialog p {
    margin:0px;
}
#assessDetailsDialog input, #assessDetailsDialog textarea, #assessDetailsDialog .uneditable-input {
    width: 280px;
    cursor: text;
} 

.details_width input,.details_width textarea,.details_width .uneditable-input {
width: 650px !important;    
}
#assessDetailsDialog textarea {
    height: 80px;
}
#assessDetailsDialog .ui-dialog .ui-dialog-buttonpane button {
    width: 100px;
}
#assessDetailsDialog a {
    cursor: pointer;
    margin-top: -7px;
}
.ui-dialog-buttonset button {
    width: 100px !important;
    height: 30px !important;
}
ul.research_table_filter {
    margin: 0;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
}
ul.research_table_filter .boxes {
     margin: 0px;
}
ul.research_table_filter .hideBox {
    height: 50px !important;
    min-height: 50px !important;
}
ul.research_table_filter .hideShow {
    position:relative;
    top:-34px;
}
ul.research_table_filter h3 {
    font-size: 14px;
    background: none repeat scroll 0 0 #CCCCCC;
    margin: 0;
    padding-left: 5px;
}

ul.research_table_filter_competitor {
    margin: 0;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
}
ul.research_table_filter_competitor .boxes {
     margin: 0px;
}
ul.research_table_filter_competitor .hideBox {
    height: 50px !important;
    min-height: 50px !important;
}
ul.research_table_filter_competitor .hideShow {
    position:relative;
    top:15px;
}
ul.research_table_filter_competitor h3 {
    font-size: 14px;
    background: none repeat scroll 0 0 #CCCCCC;
    margin: 0;
    padding-left: 5px;
}

.assess_tbl_show_case {
    margin-top: 9px;
    float: left;
    text-align: left;
    width: 450px;
    margin-left: -100px;
}
#tblAssess tr th{
    font-weight: bold;
    font-size: 16px;
}
#tblAssess td table a.active_link{
    word-wrap: break-word;
    max-width: 325px!important;
    display: block;
}
.assess_tbl_show_case a {
    color: #0088CC;
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
}
.assess_tbl_show_case a.active_link {
    font-weight: bold;
    text-decoration: underline;
}

div#tblAssess_processing {
    width: 886px;
    margin-top: -5px;
    position: absolute;
    text-align: center;
}

div.dataTables_filter label {
    display: inline;
}

div.fg-toolbar label, div.fg-toolbar select, div.fg-toolbar input {
    margin-top: 0px;
    margin-bottom: 0px;
}
#ui-datepicker-div {
    display: none;
}
ul.assess_recommendations {
    padding: 0;
    margin: 0 0 0 5px;
    min-width: 265px!important;
}
ul.assess_recommendations li {
    list-style-type: none;
    padding: 0;
    line-height: 14px;
}
ul.assess_recommendations li img {
    padding-right: 5px;
    width: 18px;
    height: 18px;
    margin: 1px;
}
td.highlightPrices {
    background-color: red;
    color: white;
}
.dataTables_wrapper select {
    width: 70px;
}
.boxes {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
}
ul.ui-sortable {
    margin: 0px;
}
.ui-sortable h3 {
    background: none repeat scroll 0 0 #CCCCCC;
    font-size: 20px;
    margin: 0;
    padding-left: 10px;
}
.item_line.ui-selected { 
	background: #F39814; color: white; 
}
.assess_report_compare .boxes
{
	border-radius: 5px 5px 5px 5px;
}
.boxes_content::-webkit-scrollbar {
    -webkit-appearance: none;
}

.boxes_content::-webkit-scrollbar:vertical {
    width: 11px;
}

.boxes_content::-webkit-scrollbar:horizontal {
    height: 11px;
}

.boxes_content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
.assess_report .boxes_content, .assess_report_compare .boxes_content {
    font-size: 14px;
}
.assess_report .boxes_content img, .assess_report_compare .boxes_content img {
    width:35px;
    height:35px;
    margin-right: 10px;
}
.assess_report .boxes_content span, .assess_report_compare .boxes_content span {
    width:50px;
}
.mb_10{
    margin-bottom:10px !important;
}
.assess_report_download_panel {
    font-size: 14px;
}
.assess_report_download_panel a {
    font-weight: normal;
    font-size: 16px;
    color:#0088CC;
    cursor: pointer;
}
#assess_details_dialog_options {
    height: 20px;
    left: -15px;
    position: relative;
    top: 5px;
}
#assess_details_dialog_options label{
    margin: 0px !important;
    padding: 0px !important;
    min-height: 0px !important;
}
#assess_details_dialog_options input[type=checkbox] {
    margin: 0px !important;
    padding: 0px !important;
    min-height: 0px !important;
}
.ui-dialog-buttonset{
    width:100%;
}
.other-icon {
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.block_data_table table.assess_comparisons tbody td {
    font-size: 14px;
}
.assess_comparisons{
    width:100%;
    text-align: center;
}
.block_data_table table.assess_comparisons td{
    border: 2px solid #000000;
}
.assess_comparisons a{
    color: #0000FF;
    font-size: 12px;
}
.assess_report div.boxes_content table.assess_comparisons img, .assess_report_compare div.boxes_content table.assess_comparisons img{
    width:auto;
    max-width: 200px;
    height: auto;
    max-height: 50px;
}
.assess_comparisons .red{
    background-color: #880000;
    color: #ffffff;
    font-weight: bold;
}
.assess_comparisons .group{
    background-color: #dddddd;
}
.assess_comparisons .row_name{
    text-align: left;
}
.assess_comparisons .key_row_name{
    font-weight: bold;
}
.block_data_table table#tblAssess td.column_url{
    padding: 0px;
}
.block_data_table table td.column_url table{
    height: 100%;
    width: 100%;
    border: 0px;
}
.block_data_table table td.column_url table td{
    border: 0px;
    padding: 0px;
}
.block_data_table table#tblAssess td{
    padding: 5px;
    max-width:340px;
}
table#tblAssess tbody td:first-child img:hover, table#tblAssess tbody i.snap_ico:hover{
    cursor: pointer;
}
.brand_most_type{
    width: 100px;
}
#tblReview a.updateBtn, #tblReview a.deleteBtn{
    cursor:pointer;
}
#brand_ranking{
    width: 100%;
    font-size: 11px;
    border: 1px solid #000000;
}
#brand_ranking th{
    font-weight: bold;
}
#brand_ranking td{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
#brand_ranking .ui-state-default, #brand_ranking .ui-widget-content .ui-state-default, #brand_ranking .ui-widget-header .ui-state-default {
    color: #000000;
}
.brand_filters{
    margin: 10px 0;
}
.brand_filters select{
    float:left;
    margin-left: 5px;
    margin-top:5px;
}
.brand_filters .brand_types{
    width:150px;
}
.brand_filters .day{
    width:70px
}
.brand_filters .month{
    width:120px;
}
.brand_filters .year{
    width:90px;
}
#brand_ranking .tweet{
    background: #5DC5F7;
    color: #000000;
}
#brand_ranking .youtube{
    background: #B63929;
    color: #FFFFFF;
}
#brand_ranking .DataTables_sort_wrapper {
    padding: 4px 6px;
    position: relative;
}
#brand_ranking .DataTables_sort_wrapper .css_right {
    right: -4px;
}
span.highlight{
    background-color:yellow;
}
#report_options input[type=checkbox]{
    margin-top: -5px;
}
.snap_img_left{
    max-width: 400px;
    float: left;
    border:1px solid #ccc;
    border:1px solid #ccc;
    display: none;
}
.url_table .active_link {
    font-weight: normal !important;
} 
.ui-dialog {
    z-index: 100000 !important;
}
#batchesDiv {
    padding: 25px;
}
.forgot_pass{
    float: left!important;
}
.batch_set_depend_options {
	display: none;
}
.common_batch1_filter_items {
	
}
.hidden_batch2_filter_items {
	display: none;
}
.batch1_filter_items, .batch2_filter_items {
	float: left;
	width: 505px;
}
.dual_batch1_filter_item {
	float: left;	
}
.dual_batch2_filter_item {
	float: right;
}
.dual_batch1_filter_item, .dual_batch2_filter_item {	
	width: 230px;
}
#tableScrollWrapper  div div table thead th div {
	font-weight: bold;
	font-size: 13px;
}
div.assess_report_compare li.boxes div.ui-resizable-e, div.ui-icon-gripsmall-diagonal-se {
	display:none !important;
}
th.product_name1, th.Snapshot1, th.url1, th.column_reviews1, th.column_features1, th.item_id1, th.model1, th.Page_Load_Time1, th.Short_Description1, th.word_short1, th.Meta_Keywords1, th.Long_Description1, th.word_long1, th.Meta_Description1, th.Meta_Description_Count1, th.column_external_content1, th.HTags_11, th.HTags1, th.CharsHTags1, th.average_review1, th.title_seo_phrases1, th.images_cmp1, th.video_count1, th.title_pa1, th.HTags_21    {
	background: #dadada url('/producteditor/css/smoothness/images/ui-bg_glass_75_dadada_1x400.png') 50% 50% repeat-x !important;
}
.summary_filter_batch_name {
	text-align: center;
	font-weight: bolder;
	margin: 5px;
}
a.jq-assess {
	position: relative;
	top: 8px;
}

.selectable_summary_handle {
	text-align: right;
	margin: 0 10px -14px;
}

.selectable_summary_handle_with_competitor {
	margin: 21px 0px -60px 502px;
	position: relative;
	top: 21px;
	width: 15px;
	height: 15px;
}
.batch_me_and_competitor  {
	margin: -20px 0;
}

.ui-state-highlight { height: 3em; line-height: 1.2em; margin: 10px 0; clear: both; }

.grip{
	width:20px;
	height:30px;
	margin-top:-3px;
	
	margin-left:-5px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}
