<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
<channel>
<title>CAI</title>
<link>http://www.contentanalyticsinc.com</link>
<description>Sample Feed</description>
{% for item in items %}
<item>
<g:id>{{ item.id|e }}</g:id>
<g:brand>{{ item.brand|e }}</g:brand>
<g:title>{{ item.title|e }}</g:title>
<g:gtin>{{ item.gtin|e }}</g:gtin>
<g:mpn>{{ item.mpn|e }}</g:mpn>
{% if item.description %}<g:description>{{ item.description|e }}</g:description>{% endif %}
{% for bullet in item.bullet_points %}<g:bullet_point>{{ bullet|e }}</g:bullet_point>{% endfor %}
</item>
{% endfor %}
</channel>
</rss>