<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
<channel>
<title>CAI</title>
<link>http://www.contentanalyticsinc.com</link>
<description>Sample Feed</description>
{% for item in items %}
<item>
<g:id>{{ item.id }}</g:id>
<g:brand>{{ item.brand }}</g:brand>
<g:title>{{ item.title }}</g:title>
<g:gtin>{{ item.gtin }}</g:gtin>
<g:mpn>{{ item.mpn }}</g:mpn>
<g:description>{{ item.description }}</g:description>
{% for bullet in item.bullet_points %}
<g:bullet_point>{{ bullet }}</g:bullet_point>
{% endfor %}
</item>
{% endfor %}
</channel>
</rss>