<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1>Sorry this service was not implemented yet</h1>
    <form action="/add-task" method="post">
        Server name<br>
        <input type="text" name="server_name">
        <br>

        Site<br>
        <input type="text" name="site">
        <br>

        Task id<br>
        <input type="text" name="task_id">
        <br>

        Search term<br>
        <input type="text" name="searchterms_str">
        <br>

        Quantity<br>
        <input type="text" name="quantity">
        <br>

        Single product url<br>
        <input type="text" name="url">
        <br>

        Branch name<br>
        <input type="text" name="branch_name">
        <br>
        <br>
        <input type="submit" value="Send task to cache">
    </form>

    <p>
        <a href="/cache-stats">Back to cache metrics</a>
    </p>
</body>
</html>

