<!DOCTYPE html>
<html>
<head>
    <title>Change cache settings</title>
</head>

<body>
    {% if result_msg %}
        <h3>{{result_msg}}</h3>
        <hr/>
    {% endif %}
    <h4>Cache settings</h4>
    <form action="" method="post">
        {% for field_key, field_value in form_fields.items() %}
            <label>
                {{ field_key }}
                <input name="{{ field_key }}" value="{{ field_value }}">
            </label>
            <br/>
        {% endfor %}
        <button type="submit">Save</button>
    </form>
</body>
</html>