{% load dictionary_extras %}

<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stdstyle.css" />
</head>



<body>
<h1>Last requests report</h1>
<!--
<table border="1" style="width:300px">
<table class="reference notranslate">
-->


<p align="right" class="reference" style="width:60%">
    <iframe src="http://free.timeanddate.com/clock/i4956od3/fs12/tct/pct/ahr/tt0/th1/ta1" frameborder="0" width="276" height="16" allowTransparency="true"></iframe>
</p>

<table class="reference" style="width:60%">
  <tr>
    <th> ID </th>
    <th> Group Name </th>
    <th> Site Name </th>
    <th> Keywords </th>
    <th> Creation Date </th>
    <th> IP </th>
    <th> Params </th>
    <th> Status </th>
  </tr>

  {% for req in last_requests %}
  <tr>
    <td> {{ req.requestid }} </td>
    <td> {{ req.group_name}} </td>
    <td> {{ req.site}} </td>
    <td> {{ req.params.searchterms_str }} </td>
    <td> {{ req.creation }} </td>
    <td> {{ req.remote_ip }} </td>
    <td> 
        {% for param_key, param_value in req.params.items %}
            {{ param_key }}: {{ param_value }}
            </br>
        {% endfor %}
    </td>
    <td> 
        {% if req.status == "unavailable" %}
          {{ req.status }} 
        {% else %}
            {% if default_url %}
                <a href="history/{{ req.requestid }}">{{ req.status }}</a>
            {% else %}
                <a href="../history/{{ req.requestid }}">{{ req.status }}</a>
            {% endif %}
        {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<!--
{{ last_requests}}
-->

</body>
</html>

